name: Deploy do Site na AWS com Ansible

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Passo 1: Baixar nosso código
      - name: Checkout do repositório
        uses: actions/checkout@v4

      # Passo 2: Instalar o Ansible
      - name: Instalar o Ansible
        run: sudo apt-get install -y ansible

      # Passo 3: Configurar a chave SSH a partir do segredo
      - name: Configurar a chave SSH
        run: |
          echo "${{ secrets.SERVER_SSH_KEY }}" > private_key.pem
          chmod 600 private_key.pem

      # Passo 4: Criar o arquivo de inventário dinamicamente
      - name: Criar o arquivo de inventário
        run: |
          echo "[webserver]" > ansible/inventory.ini
          # CORREÇÃO AQUI: Usando um caminho absoluto para a chave
          echo "${{ secrets.SERVER_HOST }} ansible_user=ubuntu ansible_private_key_file=${{ github.workspace }}/private_key.pem" >> ansible/inventory.ini

      # Passo 5: Rodar o Playbook do Ansible!
      - name: Executar o Playbook de Deploy
        run: ANSIBLE_HOST_KEY_CHECKING=False ansible-playbook -i ansible/inventory.ini ansible/deploy_site.yml
